# .gitignore file

# Asset Directory Ignores

assets/*

# Build Directory Ignores

Build/*

# Include Directory Ignores

ogre/*
ipch/*
UnitTests/Debug

# IDE Specific Ignores

# Visual Studio
*.sdf
*.suo
*.opensdf

# Sublime Text
*.sublime-*
