# .gitignore file

# Assets Directory Ignores
Assets/*

# Build Directory Ignores

Build/*

# Include Directory Ignores

ogre/*

# IDE Specific Ignores

# Visual Studio
*.sdf
*.suo
*.opensdf

# Sublime Text
*.sublime-*