# .gitignore file

# Build Directory Ignores

Build/*

# Assets Director Ignores
assets/*

# Include Directory Ignores

ogre/*

# IDE Specific Ignores

# Visual Studio
*.sdf
*.suo
*.opensdf

# Sublime Text
*.sublime-*

# Assets
assets/*
